# READ COMMENTED LINES

# Not coming soon
corporations/Google/amp.txt
corporations/garmin.txt
corporations/iadvize.txt
kind/cf_security_test.txt

# May be released soon
corporations/OEMs/asus.txt
corporations/OEMs/canon.txt
corporations/oracle.txt
corporations/stripe.txt
kind/annoyances.txt

# Another project
kind/Other/*
# Release some files
!kind/Other/README.md
!kind/Other/annoyances.txt

# Other
allhosts.txt
