# READ COMMENTED LINES

# Not coming soon
corporations/Google/amp.txt
corporations/Social/whatsapp.txt
corporations/garmin.txt
corporations/iadvize.txt

# May be released soon
corporations/canon.txt
corporations/oracle.txt
corporations/stripe.txt
kind/annoyances.txt

# Other
merge_all/allhosts.txt
